<div class="mainContainer">
    <div class="container">
        <div class="timeSection">
            <p id="time">
                {{this.time}}
            </p>
            <p id="date">
                {{this.date}}
            </p>
        </div>
        <div class="midSection">
            <p class="title">Register</p>
            <div class="inputHolder">
                <img src="assets/images/name.png" alt="" height="25">
                <input type="text" placeholder="Name" name="name" autocomplete="off">
            </div>
            <div class="inputHolder">
                <img src="assets/images/username.png" alt="" height="25">
                <input type="text" placeholder="Username" name="uname" autocomplete="off">
            </div>
            <div class="inputHolder">
                <img src="assets/images/password.png" alt="" height="25">
                <input type="password" placeholder="Password" name="pass" autocomplete="new-password">
            </div>
            <br>
            <button class="primaryButton" style="padding: 10px 40px;font-size: 13px;margin-top: 10px;">Register</button>
            <a class="link" href="/login">Already Have an Account ?</a>
        </div>
    </div>
</div>

