<nav *ngIf="showNavbar" class="navbar">
    <div class="nav-section left">
        <div class="logo"><img src="assets/images/logo.png" height="80"></div>
    </div>
    <div class="nav-section center">
        <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/designs">Design</a></li>
        <li><a routerLink="contact-us">Contact Us</a></li>
        </ul>
    </div>
    <div class="nav-section right">

        <p id="name">{{this.user?.name}}</p>
        <button (click)="logout()" id="logout"><img src="assets/images/logout.png" alt="logout" height="20"></button>

    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>