input{
    height: 30px;
    border-radius: 5px;
    padding-left: 3px;
    background-color: rgba(240, 248, 255, 0.73);
    border-color: black;
    font-weight: bold;
    text-transform: uppercase;
    width: 300px;
}
textarea {
    border-radius: 5px;
    padding-left: 3px;
    background-color: rgba(240, 248, 255, 0.73);
    border-color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
}

.alert {
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .success {
    background-color: #4CAF50; 
    color: white; 
    border: 1px solid #4CAF50;
  }
  
  .success strong {
    margin-right: 10px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .alert {
    animation: fadeIn 0.5s ease-in-out;
  }
  