<div class="container">
    <div class="topSection">
        <div id="renderingSpace"></div>
        <div class="topRightSection">
            <div style="display: flex;">
                <p class="title01" style="margin-top: 5px;">
                    Name 
                </p>
                <input #nameInput type="text" style="margin-left: 10px;" [value]="this.preset.name">
            </div>
            <p class="title01">
               Wall Color
            </p>
            <div class="colorSection">
                <a (click)="changeColor('#FDE47D')" class="color" style="background-color: #FDE47D; margin-left: 0;"></a>
                <a (click)="changeColor('#2D373F')" class="color" style="background-color: #2D373F;"></a>
                <a (click)="changeColor('#804250')" class="color" style="background-color: #804250;"></a>
                <a (click)="changeColor('#B95F62')" class="color" style="background-color: #B95F62;"></a>
                <a (click)="changeColor('#2A564A')" class="color" style="background-color: #2A564A;"></a>
            </div>
            <br>
            <p class="title01">
                Furniture Size
            </p>
            <div class="counter">
                <button (click)="decreaseSize()">-</button>
                <input [value]="this.preset.size" readonly>
                <button (click)="increaseSize()">+</button>
            </div>
            <br>
            <p class="title01">
                Furniture Model
            </p>
            <div class="furnitureContainer">
                <app-furniture-button [popupCallback]="showPopup.bind(this)" [model]="'chair'" (modelSelected)="changeModel($event)"></app-furniture-button>
                <app-furniture-button [popupCallback]="showPopup.bind(this)" [model]="'chair1'" (modelSelected)="changeModel($event)"></app-furniture-button>
                <app-furniture-button [popupCallback]="showPopup.bind(this)" [model]="'chair2'" (modelSelected)="changeModel($event)"></app-furniture-button>
            </div>
            <div class="furnitureContainer">
                <app-furniture-button [popupCallback]="showPopup.bind(this)" [model]="'table'" (modelSelected)="changeModel($event)"></app-furniture-button>
                <app-furniture-button [popupCallback]="showPopup.bind(this)" [model]="'table1'" (modelSelected)="changeModel($event)"></app-furniture-button>
                <app-furniture-button [popupCallback]="showPopup.bind(this)" [model]="'table2'" (modelSelected)="changeModel($event)"></app-furniture-button>
            </div>
            <br>
            <div class="buttonSection">
                <button (click)="delete()" class="criticalButton">Delete</button>
                <button (click)="reset()" class="secondaryButton">Reset</button>
                <button (click)="update()" class="primaryButton">Save</button>
            </div>
        </div>
    </div>
</div>

<app-model-popup *ngIf="this.popupVisible" [closeCallback]="hidePopup.bind(this)" [modelPath]="this.selectedModelPath"></app-model-popup>

